<template>
  <button class="filter-btn" @click="handleClick">
    <font-awesome-icon :icon="['fa', 'chevron-right']" size="sm" class="icon" />
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "FilterButton",
  props: {
    label: {
      type: String,
      required: true,
    },
  },
  methods: {
    handleClick() {
      this.$emit("click");
    },
  },
};
</script>

<style lang="scss" scoped>
.filter-btn {
  color: inherit;
  background: inherit;
  font-size: 16px;
  padding: 7px 14px;
  cursor: pointer;
  border: none;
}
</style>
