<template>
  <div class="content-wrapper padding-main">
    <div class="components">
      <TopArea :categories="categories" :areas="areas" />
      <button v-if="mealsQuery" @click="clearQuery" class="back-btn">
        <font-awesome-icon :icon="['fa', 'left-long']" size="2x" />BACK
      </button>
      <RecipeBox :recipes="filteredMeals" />
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import TopArea from "@/components/MainArea/components/TopArea/index.vue";
import RecipeBox from "@/components/MainArea/components/RecipeBox/index.vue";
export default {
  name: "MainArea",
  components: { TopArea, RecipeBox },
  methods: {
    ...mapActions(["fetchMeals", "updateMealsQuery"]),
    clearQuery() {
      return this.updateMealsQuery("");
    },
  },
  computed: {
    ...mapGetters([
      "fetchedMeals",
      "mealsQuery",
      "selectedCategories",
      "selectedAreas",
      "favourites",
    ]),
    queriedMeals() {
      if (
        !this.fetchedMeals.isFetching &&
        this.fetchedMeals.response.status === 200
      ) {
        return this.fetchedMeals.response.data.meals.filter((meal) =>
          meal.strMeal.toLowerCase().includes(this.mealsQuery.toLowerCase())
        );
      }
      return [];
    },
    categories() {
      if (
        !this.fetchedMeals.isFetching &&
        this.fetchedMeals.response.status === 200
      ) {
        return new Set(
          this.fetchedMeals.response.data.meals.map((meal) => meal.strCategory)
        );
      }
      return new Set();
    },
    areas() {
      if (
        !this.fetchedMeals.isFetching &&
        this.fetchedMeals.response.status === 200
      ) {
        return new Set(
          this.fetchedMeals.response.data.meals.map((meal) => meal.strArea)
        );
      }
      return new Set();
    },
    filteredMeals() {
      return this.queriedMeals.filter((meal) => {
        return (
          (!this.selectedCategories.length ||
            this.selectedCategories.includes(meal.strCategory)) &&
          (!this.selectedAreas.length ||
            this.selectedAreas.includes(meal.strArea))
        );
      });
    },
  },
  async mounted() {
    await this.fetchMeals();
  },
};
</script>

<style lang="scss" scoped>
.content-wrapper {
  .components {
    .back-btn {
      display: flex;
      align-items: center;
      gap: 0.5em;
      font-weight: bold;
      color: inherit;
      padding: 0;
      border: none;
      background-color: inherit;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }
  }
}

@media (hover: hover) {
  .components {
    .back-btn:hover {
      transform: scale(1.1);
      color: black;
    }
  }
}
</style>
