<template>
  <div class="container">
    <div
      class="fav-recipe"
      v-for="recipe in favouriteRecipes"
      :key="recipe.id"
      @click="handleClickOnFavourite(recipe)"
    >
      <img
        :src="recipe.strMealThumb"
        :alt="recipe.strMeal"
        class="fav-recipe__img"
      />
      <div class="fav-recipe__title">{{ recipe.strMeal }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "FavouritesDropdown",
  props: {
    favouriteRecipes: {
      type: Array,
      required: true,
    },
  },
  methods: {
    handleClickOnFavourite(recipe) {
      this.$emit("click", recipe);
    },
  },
};
</script>

<style lang="scss" scoped>
.container::-webkit-scrollbar {
  width: 3px;
}
.container::-webkit-scrollbar-track {
  background-color: rgb(224, 226, 245);
}
.container::-webkit-scrollbar-thumb {
  background: #2c3e50;
  border-radius: 10px;
}
.container {
  position: absolute;
  box-shadow: 2px 10px 20px -2px rgb(103, 103, 136);
  top: 175%;
  right: 0;
  width: 250px;
  max-height: 300px;
  overflow-y: scroll;
  border-top: none;
  border-radius: 0 0 0 8px;
  background: rgb(224, 226, 245);
  padding: 0.5em;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  .fav-recipe {
    width: 100%;
    display: flex;
    gap: 1em;
    align-items: center;
    cursor: pointer;

    .fav-recipe__img {
      width: 35%;
      border-radius: 8px;
    }

    .fav-recipe__title {
      font-size: 14px;
    }
  }
}
</style>
