<template>
  <div class="wrapper">
    <FilterDropdown
      :title="'Categories'"
      :items="categories"
      :selectedItems="selectedCategories"
      @click="handleCategoryClick"
    />
    <FilterDropdown
      :title="'Areas'"
      :items="areas"
      @click="handleAreaClick"
      :selectedItems="selectedAreas"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import FilterDropdown from "./components/FilterDropdown/index.vue";
export default {
  name: "TopArea",
  components: { FilterDropdown },
  props: {
    categories: {
      type: Set,
      default: () => [],
    },
    areas: {
      type: Set,
      default: () => [],
    },
  },
  methods: {
    ...mapActions(["updateSelectedCategories", "updateSelectedAreas"]),
    handleCategoryClick(category) {
      if (this.selectedCategories.includes(category)) {
        this.updateSelectedCategories([
          ...this.selectedCategories.filter(
            (selectedCategory) => selectedCategory !== category
          ),
        ]);
      } else {
        this.updateSelectedCategories([...this.selectedCategories, category]);
      }
    },
    handleAreaClick(area) {
      if (this.selectedAreas.includes(area)) {
        this.updateSelectedAreas([
          ...this.selectedAreas.filter((selectedArea) => selectedArea !== area),
        ]);
      } else {
        this.updateSelectedAreas([...this.selectedAreas, area]);
      }
    },
  },
  computed: {
    ...mapGetters(["selectedCategories", "selectedAreas"]),
  },
};
</script>

<style lang="scss" scoped>
.wrapper {
  padding: 2em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  position: relative;
}
</style>
