<template>
  <div class="expanded-recipe" ref="dropdownRef">
    <div class="video-container">
      <iframe
        class="recipe-video"
        :src="recipe.strYoutube.replace('watch?v=', 'embed/')"
        frameborder="0"
        allowfullscreen
      >
        Your browser does not support the video tag.
      </iframe>
    </div>
    <div class="recipe-manual">
      <h3 class="header">Instruction</h3>
      <div class="text">{{ recipe.strInstructions }}</div>
    </div>
  </div>
</template>
<script>
export default {
  name: "RecipeDropdown",
  props: {
    recipe: {
      type: Object,
      required: true,
    },
  },
  computed: {
    clientHeight() {
      return this.$refs.dropdownRef.clientHeight;
    },
  },
};
</script>
<style lang="scss" scoped>
.expanded-recipe {
  position: fixed;
  left: 0;
  margin: 35px 0;
  min-height: 350px;
  max-height: 350px;
  box-shadow: 1px 1px 10px 1px rgb(143, 162, 196);
  border-radius: 8px;
  display: flex;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  .video-container {
    .recipe-video {
      min-width: 40vw;
      height: 100%;
      border-radius: 8px 0 0 8px;
    }
  }
  .recipe-manual {
    overflow: scroll;
    margin-left: auto;
    padding: 0.5em 2em;
    text-align: left;
    cursor: auto;
  }
  .recipe-manual::-webkit-scrollbar {
    display: none;
  }
  .recipe-manual {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@media screen and (max-width: 900px) {
  .expanded-recipe {
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    .video-container {
      border-radius: 8px !important;
    }
  }
}
</style>
