<template>
  <div class="navbar">
    <h1 class="navbar__header">Recipes</h1>
    <ul class="navbar__components">
      <li><SearchBar /></li>
      <li><FavouritesBar /></li>
    </ul>
  </div>
</template>

<script>
import SearchBar from "@/components/NavBar/components/SearchBar/index.vue";
import FavouritesBar from "@/components/NavBar/components/FavouritesBar/index.vue";
export default {
  name: "NavBar",
  components: { SearchBar, FavouritesBar },
};
</script>

<style lang="scss" scoped>
.navbar {
  padding: 0.5em 5em;
  background: rgb(224, 226, 245);
  box-shadow: 0 1px 15px rgb(103, 103, 136);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__header {
    font-family: "Niconne", cursive;
    font-size: 45px;
    margin: 0;
  }
  &__components {
    display: flex;
    gap: 2em;
  }
}
@media screen and (max-width: 1200px) {
  .navbar {
    padding: 0.5em 2em !important;
  }
}
@media screen and (max-width: 600px) {
  .navbar {
    &__header {
      font-size: 36px;
    }
    &__components {
      gap: 0.5em;
    }
  }
}
</style>
