<template>
  <div v-on-clickaway="away">
    <button :class="['text', expanded && 'active']" @click="toggleExpanded">
      {{ title }}
    </button>
    <div :class="['box', expanded && 'open']">
      <ul>
        <li
          v-for="item in items"
          :key="item"
          :class="selectedItems.includes(item) && 'selected'"
        >
          <FilterButton
            @click="handleClickOnItem(item), toggleExpanded()"
            :label="item"
          />
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
import FilterButton from "@/components/MainArea/components/TopArea/components/FilterButton/index.vue";
import { mixin as clickaway } from "vue-clickaway";
export default {
  name: "TopArea",
  props: {
    title: String,
    items: Set,
    selectedItems: Array,
  },
  components: { FilterButton },
  data() {
    return {
      expanded: false,
    };
  },
  mixins: [clickaway],
  methods: {
    toggleExpanded() {
      this.expanded = !this.expanded;
    },
    away() {
      this.expanded = false;
    },
    handleClickOnItem(item) {
      this.$emit("click", item);
    },
  },
};
</script>
<style lang="scss" scoped>
.selected {
  border-bottom: 2px dashed navy;
}
.text {
  font-style: italic;
  font-weight: bold;
  border: none;
  background: inherit;
  color: inherit;
  transition: all 0.3s ease-in-out;
  font-size: 30px;
  border-bottom: 2px solid white;
}
ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}
.box.open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}
.box {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 75%;
  left: 0;
  transform: translateY(-10px);
  z-index: 1;
  background-color: rgb(224, 226, 245);
  width: 100%;
  border-radius: 10px;
}
.active {
  border-bottom: 2px solid navy;
}
@media (hover: hover) {
  .text:hover {
    border-bottom: 2px solid navy;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  .text {
    font-size: 26px !important;
  }
}
</style>
