<template>
  <div id="app">
    <NavBar />
    <MainArea />
  </div>
</template>

<script>
import NavBar from "@/components/NavBar/index.vue";
import MainArea from "@/components/MainArea/index.vue";
export default {
  name: "App",
  components: { NavBar, MainArea },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  font-family: "JetBrainsMono", monospace;
  background: whitesmoke;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
ul {
  text-decoration: none;
  margin: 0;
  list-style-type: none;
  padding: 0;
}

.padding-main {
  padding: 1em 5em;
}

@media screen and (max-width: 1200px) {
  .padding-main {
    padding: 1em 2em;
  }
}
</style>
