<template>
  <div class="favbar" @click="expanded = !expanded">
    <div class="favbar__btn">
      <font-awesome-icon :icon="['fa', 'heart']" size="2x" />
    </div>
    <FavouritesDropdown
      v-on-clickaway="away"
      v-if="expanded && checkFavourites"
      :favourite-recipes="favourites"
      @click="searchFavourite"
    />
  </div>
</template>

<script>
import FavouritesDropdown from "@/components/NavBar/components/FavouritesBar/components/FavouritesDropdown/index.vue";
import { mapActions, mapGetters } from "vuex";
import { mixin as clickaway } from "vue-clickaway";
export default {
  name: "FavouritesBar",
  components: { FavouritesDropdown },
  data() {
    return {
      expanded: false,
    };
  },
  mixins: [clickaway],
  methods: {
    ...mapActions(["updateMealsQuery"]),
    searchFavourite(recipe) {
      return this.updateMealsQuery(recipe.strMeal);
    },
    away() {
      this.expanded = false;
    },
  },
  computed: {
    ...mapGetters(["favourites"]),
    checkFavourites() {
      if (this.favourites.length === 0) {
        return false;
      }
      return true;
    },
  },
};
</script>

<style lang="scss" scoped>
.favbar {
  position: relative;
  &__btn {
    transition: all 0.3s ease-in-out;
  }
}

@media (hover: hover) {
  .favbar__btn:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: tomato;
  }
}
</style>
