<template>
  <div class="searchbar">
    <div class="search-icon" @click="expandSearchBar">
      <font-awesome-icon :icon="['fa', 'magnifying-glass']" size="2x" />
    </div>
    <input
      v-if="expanded"
      v-on-clickaway="away"
      class="searchbar__input"
      type="search"
      placeholder="Search"
      v-model="query"
    />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import { mixin as clickaway } from "vue-clickaway";
export default {
  name: "SearchBar",
  data() {
    return {
      expanded: false,
    };
  },
  mixins: [clickaway],
  methods: {
    ...mapActions(["updateMealsQuery"]),
    expandSearchBar() {
      this.expanded = !this.expanded;
    },
    away() {
      this.expanded = false;
    },
  },
  computed: {
    ...mapGetters(["mealsQuery", "selectedCategories", "selectedAreas"]),
    query: {
      get() {
        return this.mealsQuery;
      },
      set(newQuery) {
        this.selectedCategories.length = 0;
        this.selectedAreas.length = 0;
        return this.updateMealsQuery(newQuery);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.searchbar {
  display: flex;
  align-items: center;
  gap: 1em;
  .search-icon {
    transition: all 0.3s ease-in-out;
  }
  .searchbar__input {
    transition: all 0.5s ease-in-out;
    background: inherit;
    border: none;
    outline: none;
    font-size: 14px;
    width: 100%;
  }
  .searchbar__input::placeholder {
    transition: all 0.5s ease-in-out;
    font-family: inherit;
    color: inherit;
  }
  .searchbar__input:focus::placeholder {
    transform: translateY(-15px);
  }
}

@media (hover: hover) {
  .search-icon:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
@media screen and (max-width: 600px) {
  .searchbar {
    gap: 0;
    max-width: 130px;
  }
}
</style>
