<template>
  <div class="recipe-box">
    <div
      :style="
        isRecipeClicked(recipe) ? `margin-bottom: ${elementHeight}px` : ''
      "
      class="recipe"
      v-for="recipe in recipes"
      :key="recipe.idMeal"
    >
      <img
        class="recipe__img"
        :src="recipe.strMealThumb"
        :alt="recipe.strMeal"
        @click="
          setExpandedRecipeId(
            recipe.idMeal === expandedRecipeId ? null : recipe.idMeal
          )
        "
      />
      <FavouriteButton :recipe="recipe" />
      <div
        class="recipe__title"
        @click="
          setExpandedRecipeId(
            recipe.idMeal === expandedRecipeId ? null : recipe.idMeal
          )
        "
      >
        {{ recipe.strMeal }}
      </div>
      <RecipeDropdown
        v-on-clickaway="away"
        v-if="isRecipeClicked(recipe)"
        :recipe="recipe"
        ref="recipeDropdown"
      />
    </div>
  </div>
</template>

<script>
import FavouriteButton from "@/components/MainArea/components/RecipeBox/components/FavouriteButton/index.vue";
import RecipeDropdown from "@/components/MainArea/components/RecipeDropdown/index.vue";
import { mapActions, mapGetters } from "vuex";
import { mixin as clickaway } from "vue-clickaway";
export default {
  name: "RecipeBox",
  props: {
    recipes: {
      required: true,
    },
  },
  components: { FavouriteButton, RecipeDropdown },
  data() {
    return {
      elementHeight: 0,
    };
  },
  mixins: [clickaway],
  methods: {
    ...mapActions(["setExpandedRecipeId"]),
    isRecipeClicked(recipe) {
      if (this.expandedRecipeId === recipe.idMeal) {
        return true;
      }
      return false;
    },
    away() {
      this.setExpandedRecipeId(null);
    },
  },
  computed: {
    ...mapGetters(["expandedRecipeId"]),
  },
  watch: {
    expandedRecipeId(expandedRecipeId) {
      if (expandedRecipeId) {
        this.$nextTick(function () {
          this.elementHeight = this.$refs.recipeDropdown[0].clientHeight + 40;
        });
      } else {
        this.elementHeight = 0;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.recipe-box {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: translate(0);
  padding: 1em 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 2em;
  column-gap: 2em;
  .opacity-regular {
    opacity: 1;
  }
  .opacity-low {
    opacity: 0.5;
  }
  .recipe {
    position: relative;
    box-shadow: 1px 1px 10px 1px rgb(143, 162, 196);
    border-radius: 10px;
    height: 290px;
    cursor: pointer;
    background: white;
    .recipe__img {
      border-radius: 10px 10px 0 0;
      width: 100%;
      height: 80%;
      object-fit: cover;
    }
    .recipe__title {
      padding: 1em;
      text-align: center;
    }
  }
}

@media screen and (max-width: 350px) {
  .recipe-box {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  }
}
</style>
